@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --header-height: 64px;
}

:root:not(html.dark) {
  // colors
  color: theme("colors.text.primary");
  background-color: theme("colors.surface.primary");
}

:root {
  color: theme("colors.dark.text.primary");
  background-color: theme("colors.dark.surface.primary");
}

.no-scrollbar {
  &::-webkit-scrollbar {
    display: none;
  }
}
