@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  color-scheme: dark;
  color: CanvasText;
  background-color: Canvas;
  --header-height: 80px;
  background-color: theme('colors.surface.primary');
}

// prefer dark mode

@media (prefers-color-scheme: dark) {
  :root {
    color-scheme: dark;
    color: CanvasText;
    background-color: theme('colors.dark.surface.primary');
  }
}

html {
  scrollbar-gutter: stable both-edges;
}